<div *ngIf="AccionABMC == 'L'">

<table class="table">
        <thead>
            <tr>
                <th>ContratoDescripcion</th>
                <th>ContratoImporte</th>
                <th>IdContrato</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let item of Items">
                <td>{{item.ContratoDescripcion}}</td>
                <td>{{item.ContratoImporte}}</td>
                <td>{{item.IdContrato}}</td>
            </tr>
        </tbody>
    </table>

</div>